
*{
      box-sizing: border-box;
}
body
{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
}

.side::after
{
      content: "";
      width: 2px;
      height: 500px;
      position: absolute;
      top: -20px;
      left: 102%;
      background-color: #b1b1b1;
      border-top-right-radius: 6px;
}



.one .read .first::before,
.two .read .first::before, 
.three .read .first::before, 
.four .read .first::before, 
.five .read .first::before, 
.six .read .first::before {
      content: "";
      width: 2px;
      height: 16px;
      border-radius: 2px;
      background-color: #00b0ff;
      /* border-width: 0px 1px; */
      position: absolute;
      top: 32px;
      left: 21px;
      transform: rotate(40deg);
}

.one .read .first::after, 
.two .read .first::after, 
.three .read .first::after, 
.four .read .first::after, 
.five .read .first::after, 
.six .read .first::after {
      content: "";
      width: 2px;
      height: 7px;
      border-radius: 2px;
      background-color: #00b0ff;
      position: absolute;
      top: 40px;
      left: 14px;
      transform: rotate(127deg);
}

.one .read .second::before, 
.two .read .second::before, 
.three .read .second::before, 
.four .read .second::before, 
.five .read .second::before, 
.six .read .second::before 
{
      content: "";
      width: 2px;
      height: 16px;
      border-radius: 2px;
      background-color: #00b0ff;
      position: absolute;
      bottom: 7px;
      left: 27px;
      transform: rotate(40deg);
}

.one .read .first::after, 
.two .read .first::after, 
.three .read .first::after, 
.four .read .first::after, 
.five .read .first::after, 
.six .read .first::after {
      content: "";
      width: 2px;
      height: 7px;
      border-radius: 2px;
      background-color: #00b0ff;
      position: absolute;
      top: 40px;
      left: 14px;
      transform: rotate(127deg);
}



.sending
{
      grid-area: end;
      position: relative;

      display: grid;
      grid-template-columns: 10% 10% 70% 10%;
}
.img
{
      position: relative;
}

.frame
{
      width: 25px;
      height: 24px;
      border: 2px solid #afafaf;
      border-radius: 50%;
      position: absolute;
      transform: translate(7px, 10px);
      box-shadow: 0 0 3px 0px #989898;
}

.frame::before
{
      content: "";
      width: 2px;
      height: 2px;
      border: 1px solid #afafaf;
      background-color: #afafaf;
      border-radius: 50%;
      position: absolute;
      transform: translate(4px, 7px);
}

.frame::after
{
      content: "";
      width: 2px;
      height: 2px;
      border: 1px solid #afafaf;
      background-color: #afafaf;
      border-radius: 50%;
      position: absolute;
      transform: translate(14px, 7px);
}

.smile
{
      position: absolute;
      width: 12px;
      height: 12px;
      /* background-color: black; */
      border-bottom: 2px solid #afafaf;
      border-radius: 50%;
      transform: translate(5px, 6px);
}


.file
{
      width: 24px;
      height: 24px;
      border-radius: 50%;
      /* background-color: #333; */
      background-image: url(./img/doc.jpg);
      background-size: cover;
      transform: translate(-12px, 10px);
      opacity: 0.4;
      box-shadow: 0 0 4px 3px #a49c9c;
}


.sending input
{
      width: 105%;
      height: 34px;
      transform: translate(-40px, 5px);
      background-color: #d5e9d5;
      border: 2px solid #00bc00;
      border-radius: 6px;
}


.sound
{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-image: url(./img/OIP.jpg);
      background-size: cover;
      opacity: 0.3;
      transform: translate(27px, 10px);
      box-shadow: 0 0 4px 1px #000000;
}


